$fontFamily: "Poppins", sans-serif;
$colorWhite: rgb(255,255,255);
$colorBlack: rgb(0,0,0);
$colorDarkGrey: #343a40;
$colorRedish: #c83665;
$colorGrey: rgb(84,84,84);
$colorLightGrey: #eef2f4;
$colorYellow: #ffe100;
$colorPlaceholder: rgb(107,107,107);
$colorGoogle: rgb(196,49,19);
$colorFacebook: rgb(45,90,184);