@import "plugins/jqueryui";
@import "plugins/jqueryscrollbar";
@import "plugins/toggle";
@import "plugins/animate";
@import "plugins/sweetalert";
@import "plugins/datatables";
@import "plugins/datepicker";
@import "plugins/select2";
@import "plugins/tagsinput";
@import "plugins/dropzone";
@import "plugins/summernote";
@import "plugins/owlcarousel";
@import "plugins/magnific-popup";