//## For each of Bootstrap's buttons, define text, background and border color.

$body-text-color: #6e84a3;
$form-control-Color: #ebedf2;
$white-color: #ffffff;
$grey-color: #f1f1f1;
$grey2-color: #f9fbfd;
$grey3-color: #fafafe;
$transparent-bg : transparent;
$black-color : #21232e;
$black2-color : #1f283e;

$primary-color : #5584F5;
$primary2-color : #464646;

$secondary-color : #74809b;
$secondary2-color : #2A20AC;

$info-color : #48ABF7;
$info2-color : #3697E1;
$success-color : #2aaf63;
$success2-color : #18944e;
$warning-color : #FFAD46;
$warning2-color : #FF9E27;
$danger-color : #F25961;
$danger2-color : #EA4d56;

// Font Weight
$font-weight-light : 300;
$font-weight-normal : 400;
$font-weight-bold : 600;
$font-weight-extrabold : 700;